In [1]:
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [27]:
df = pd.read_csv("../../datasets/total-number-of-deaths-by-cause.csv")
df.head()

df['Total'] = df.iloc[:, 3:].sum(axis=1)
# df.columns.values[3] = "Cd"
# df.columns.values[4] = "NCd"
# df.columns.values[5] = "Inj"
df.head()

,Entity,Code,Year,"Deaths - Communicable, maternal, neonatal, and nutritional diseases - Sex: Both - Age: All Ages (Number)",Deaths - Non-communicable diseases - Sex: Both - Age: All Ages (Number),Deaths - Injuries - Sex: Both - Age: All Ages (Number),Total
0,Afghanistan,AFG,1990,77502,90181,14402,182085
1,Afghanistan,AFG,1991,81808,92246,18623,192677
2,Afghanistan,AFG,1992,91135,96673,20428,208236
3,Afghanistan,AFG,1993,102062,101474,21577,225113
4,Afghanistan,AFG,1994,109438,104789,27412,241639

In [26]:
df['Entity'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'North Korea', 'North Macedonia',
       'Northern Ireland', 'Northern Mariana Islands', 'Norway',
       'OECD Countries', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wales', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [24]:
# Menghapus baris yang mengandung 'wb' dalam kolom 'Entity' (case insensitive)
df = df[~df['Entity'].str.contains("world", case=False)]

# Menghapus baris yang mengandung 'wb' dalam kolom 'Entity' (case insensitive)
df = df[~df['Entity'].str.contains("wb", case=False)]

# Menghapus baris yang mengandung 'who' dalam kolom 'Entity' (case insensitive)
df = df[~df['Entity'].str.contains("who", case=False)]

# Menghapus baris yang mengandung 'g20' dalam kolom 'Entity' (case insensitive)
df = df[~df['Entity'].str.contains("g20", case=False)]

In [25]:
print("Total Deaths 2015", df[df['Year'] == 2015]['Total'].sum()) 
print("Total Deaths 2016", df[df['Year'] == 2016]['Total'].sum()) 
print("Total Deaths 2017", df[df['Year'] == 2017]['Total'].sum()) 
print("Total Deaths 2018", df[df['Year'] == 2018]['Total'].sum()) 
print("Total Deaths 2019", df[df['Year'] == 2019]['Total'].sum())

Total Deaths 2015 65346936
Total Deaths 2016 65945189
Total Deaths 2017 66543563
Total Deaths 2018 67571658
Total Deaths 2019 68645096