In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [2]:
df = pd.read_csv('datasets/covid/Vaccination Data/Vaksinasi Jawa Timur.csv')
df.head()

,City_or_Regency,Vaccinated,Fully_Vaccinated,Total,Date,URL,Unnamed: 6
0,KOTA SURABAYA,33420,0.0,33420,"January 14, 2021",https://twitter.com/KominfoJatim/status/134933...,NaN
1,KAB GRESIK,5920,0.0,5920,"January 14, 2021",https://twitter.com/KominfoJatim/status/134933...,NaN
2,KAB SIDOARJO,8720,0.0,8720,"January 14, 2021",https://twitter.com/KominfoJatim/status/134933...,NaN
3,KAB LUMAJANG,2960,0.0,2960,"February 1, 2021",https://twitter.com/KominfoJatim/status/135637...,NaN
4,KAB JOMBANG,4175,0.0,4175,"February 1, 2021",https://twitter.com/KominfoJatim/status/135637...,NaN

In [3]:
df.value_counts("Date")

Date
February 1, 2021     38
February 10, 2021    38
February 9, 2021     38
February 8, 2021     38
February 7, 2021     38
February 6, 2021     38
February 4, 2021     38
February 3, 2021     38
February 28, 2021    38
February 27, 2021    38
February 26, 2021    38
February 24, 2021    38
February 23, 2021    38
February 22, 2021    38
February 20, 2021    38
February 2, 2021     38
February 17, 2021    38
February 16, 2021    38
February 13, 2021    38
February 11, 2021    38
March 1, 2021        38
February 14, 2021    37
February 12, 2021    36
February 21, 2021    18
January 14, 2021      3
dtype: int64